/*
   report
*/

.cardReportContent{
    background-color: white;
    padding: 25px;
    color: black;
    min-height: 200px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: justify;
}

.titleReportContent{
    background-color: #f8f8f8;
    font-weight: 500;
    color: black;
    padding: 5px;
    border: 1px solid #e7e7e7;
}

.dateReport{
    font-size: 0.9em;
    font-weight: 100;
    font-style: italic;
}

.author{
    font-weight: bold;
}