.iconTask{
    text-align: center;
}

.iconView{
    color: #17A2B8;  
}

.iconEdit{
    color: #FFC107;   
}

.iconDelete{
    color: #DC3545;   
}

.iconCheck{
    color: #28A745;
}

.lowPriority{
    color: #28A745;
    font-weight: bold;
}

.mediumPriority{
    color: #FFC107;
    font-weight: bold;
}

.highPriority{
    color: #DC3545;
    font-weight: bold;
}

.iconTask>a>i{
    margin-right: 10px;
}

.priorityGreen{
    background-color: #28A745;
    color: white;
    font-weight: 500;
}

.priorityOrange{
    background-color: #FFC107;
    color: white;
    font-weight: 500;
}

.priorityRed{
    background-color: brown;
    color: white;
    font-weight: 500;
}


th{
    font-weight: bold;
}

td{
    font-weight: 400;
}