.contentDeleteTask{
    background-color: white;
    padding: 25px;
    color: black;
    height: auto;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: justify;
    box-shadow: 6px 6px 5px #aaa;
    width: auto;
}

.contentAreaZone>textarea{
    width: 100%;
    min-height: 250px;
    border: 0.5px solid #e7e7e7;
}

.paragrapheDanger{
    color: brown;
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
}

.paragrapheArchive{
    color: darkgreen;
    font-weight: 400;
    font-style: italic;
    font-size: 1.3em;
}

.taskFormButton>button{
    margin-right: 25px;
}

.titleDeleteTask{
    background-color: #f8f8f8;
    font-weight: 500;
    color: red;
    padding: 5px;
    border: 1px solid #e7e7e7;
    width: auto;
}

.titleDeleteTask>.closeItem{
    float: right;
    margin-right: 15px;
    cursor: pointer;
    color: #DC3545;
}
