.cadreInformationsPrincipal{
    display: flex;
    justify-content: space-around;
}

.avatar>img{
    max-width: 100px;
    max-height: 100px;
    border: 2px solid #23527c;
}

.informationsPrincipal>p>span{
    line-height: 100px;
    font-size: 2em;
    font-weight: 400;
    color: #23527c;
}

.informationsConnexion{
    line-height: 100px;
    font-size: 1.1em;
    font-style: italic;
    font-weight: 300;
    color: #23527c;
}

.titleBio>p{
    margin: 0;
}
.titleBio{
    background-color: #f8f8f8;
    font-weight: 500;
    color: black;
    padding: 5px;
    border: 1px solid #e7e7e7;
}

.contentBio{
    background-color: white;
    padding: 25px;
    color: black;
    min-height: 100px;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: justify;
    box-shadow: 5px 5px 5px #aaa;
}

.userBadge{
    float: right;
    padding: 5px;
    margin-right: 15px;
}

.hrMargin{
    margin-top: 30px;
}

.userButton{
    margin-right: 15px;
}

.api_key_bold{
    font-weight: bold;
}

.red{
    color: #DC3545;
    cursor: pointer;
}

.displayButtonAdmin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.active{
    background-color: #007BFF;
    color: white;
}

#error_profile{
    display: none;
}